services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: integrations-svc-ms2-local
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env